mixin navlink(path, name, active)
    if active
        li.nav-active: a(href=path)= name
    else
        li: a(href=path)= name

doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title

    body 
        header
            nav: ul 
                each navItems in menuItems
                    +navlink(navItems.path, navItems.title, navItems.isActive)

        main 
            block content 

        include footer.pug

        block script